@use "../design-tokens/_colors" as *;
/* ------- Breakpoint ------- */
$breakpoint-sm: 576px;
$breakpoint-md: 768px;
$breakpoint-lg: 992px;
$breakpoint-xl: 1200px;
$breakpoint-xxl: 1400px;

$breakpoints: (
  "sm": $breakpoint-sm,
  "md": $breakpoint-md,
  "lg": $breakpoint-lg,
  "xl": $breakpoint-xl,
  "xxl": $breakpoint-xxl,
);

$z-index-1: 1;
$z-index-2: 2;
$z-index-3: 3;
$z-index-4: 4;
$z-index-5: 5;
$z-index-6: 6;
$z-index-7: 7;
$z-index-8: 8;
$z-index-9: 9;
$z-index-10: 10;

/* ------- Spacer ------- */
$spacer-xs: 5px;
$spacer-sm: 10px;
$spacer-md: 15px;
$spacer-lg: 20px;
$spacer-xl: 25px;
$spacer-xxl: 85px;

$spacer-vi-xs: calc($spacer-xs + 0.5vi);
$spacer-vi-sm: calc($spacer-sm + 0.5vi);
$spacer-vi-md: calc($spacer-md + 0.5vi);
$spacer-vi-lg: calc($spacer-lg + 0.5vi);
$spacer-vi-xl: calc($spacer-xl + 0.5vi);
$spacer-vi-xxl: calc($spacer-xxl + 0.5vi);

$spacers: (
  "xs": $spacer-xs,
  "sm": $spacer-sm,
  "md": $spacer-md,
  "lg": $spacer-lg,
  "xl": $spacer-xl,
);

@each $key, $value in $spacers {
  .gap-#{$key} {
    gap: $value;
  }
}

/* ------- Wrapper ------- */

$wrapper-padding-inline: calc($spacer-vi-xxl * 1.5);




/* ------- Container ------- */

@mixin container() {
  width: 100%;
  @each $key, $value in $breakpoints {
    @media (width >= $value) and (width >= $breakpoint-sm) {
      width: calc($value - $spacer-vi-xxl);
    }
  }
}

.container {
  max-width: 1200px;
  margin-inline: auto;
  @include container;
  .wrapper {
    padding-inline: $wrapper-padding-inline;
  }
}