---
import BaseLayout from '../layouts/BaseLayout.astro';

// The getStaticPaths() function is required for static generation
// This fetches all posts at build time and generates static pages
let data = await fetch("http://move.local/wp-json/wp/v2/pages?slug=about");
let post = await data.json();

// Get the post data from props (passed from getStaticPaths)
console.log(post[0]);
const aboutTitle = post[0].title.rendered;
const aboutContent = post[0].content.rendered;
---


<BaseLayout pageTitle={aboutTitle}>
    <button popovertarget="about-menu" id="about-menu-button">About</button>
    <div popover id="about-menu" class="about-menu">
        <nav>
            <ul>
                <li><a href="#about-menu">About</a></li>
                <li><a href="#about-menu">About</a></li>
            </ul>
        </nav>
    </div>
    <article set:html={aboutContent}>
    </article>
</BaseLayout>