---
import Social from './Social.astro';
---

<footer>
  <div class="social-container">
    <Social platform="github" username="Papamundodev" />
    <Social platform="twitter" username="Papamundodev" />
    <Social platform="linkedin" username="Papamundodev" />
  </div>
</footer>
<script src="../scripts/menu.js"></script>
