---
import '../styles/global.css';
---

<div class="navigation">
    <a href="/">Home</a>
    <a href="/about">About</a>
    <a href="/blog">Blog</a>
</div>

<style>
    .navigation {
        display: flex;
        gap: 1rem;
    }
</style>