---
// Get site info from the main API endpoint (no auth required)
const response = await fetch("http://move.local/wp-json/");
const siteInfo = await response.json();
const siteName = siteInfo.name || "My Site";

---

<a href="/">
    <span class="logo">{siteName}</span>
</a>