--- 
const { screen} = Astro.props;
const { posts } = Astro.props;
import Megamenu from './Megamenu.astro';
---



<div id="main-menu" class="nav-menu">
    <ul>
        {posts.map((post: any, index: number) => (
            index === 1 ? 
            <Megamenu post={post} screen={screen} />
            : <li class="nav-menu-item">
                <a href={`/wordpress-pages/${post.slug}`}>{post.title.rendered}</a>
                <span class="hover-bg"></span>
                </li>
        ))}
        <li class="nav-menu-item">
            <a href={`/wordpress-pages/contact`}>Contact</a>
        <span class="hover-bg"></span>
        </li>
    </ul>
</div>  
