--- 
const { screen } = Astro.props;
---

<li class="nav-menu-item megamenu-services-button">
<button popovertarget={`megamenu-services-${screen}`} id={`megamenu-services-button-${screen}`} class="">Expèrtise</button>
<span class="hover-bg"></span>
</li>



